In [3]:
import pandas as pd
import category_encoders as ce

In [4]:
data = pd.read_csv('car speed1.csv')

In [5]:
data

   car speed  age  experience  risk car
0         80  5.5           4    50   A
1         85  3.0           7    35   B
2         70  3.0           5    40   C
3         90  2.0           4    70   B
4         55  4.0           5    35   A
5        100  2.0          10    60   C

In [6]:
encoder = ce.BinaryEncoder(cols = ['car'], return_df= True)

In [7]:
binary_encoded = encoder.fit_transform(data)
binary_encoded

   car speed  age  experience  risk  car_0  car_1
0         80  5.5           4    50      0      1
1         85  3.0           7    35      1      0
2         70  3.0           5    40      1      1
3         90  2.0           4    70      1      0
4         55  4.0           5    35      0      1
5        100  2.0          10    60      1      1

In [8]:
import pandas as pd
import category_encoders as ce

# Sample data
data = pd.DataFrame({
    'car': ['A', 'B', 'C', 'B', 'A', 'C'],
    'speed': [80, 85, 70, 90, 55, 100],
    'age': [5.5, 3.0, 3.0, 2.0, 4.0, 2.0],
    'experience': [4, 7, 5, 4, 5, 10],
    'risk': [50, 35, 40, 70, 35, 60]
})

# Initialize the binary encoder
encoder = ce.BinaryEncoder(cols=['car'])

# Fit and transform the data
encoded_data = encoder.fit_transform(data)

print(encoded_data)

   car_0  car_1  speed  age  experience  risk
0      0      1     80  5.5           4    50
1      1      0     85  3.0           7    35
2      1      1     70  3.0           5    40
3      1      0     90  2.0           4    70
4      0      1     55  4.0           5    35
5      1      1    100  2.0          10    60