In [13]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
data = pd.read_csv('car speed1.csv')

In [3]:
data

   car speed  age  experience  risk car
0         80  5.5           4    50   A
1         85  3.0           7    35   B
2         70  3.0           5    40   C
3         90  2.0           4    70   B
4         55  4.0           5    35   A
5        100  2.0          10    60   C

In [4]:
car_model = data['car']

In [11]:
car_model.to_frame()

  car
0   A
1   B
2   C
3   B
4   A
5   C

***Sklearn - Label Encoder***

In [12]:
from sklearn.preprocessing import LabelEncoder

In [14]:
label_encoder = LabelEncoder()
encoded_labels = label_encoder.fit_transform(car_model)

In [15]:
encoded_labels

array([0, 1, 2, 1, 0, 2])

In [16]:
#foe Dcoder
original_label = label_encoder.inverse_transform(encoded_labels)

In [17]:
original_label

array(['A', 'B', 'C', 'B', 'A', 'C'], dtype=object)