In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('BP prediction.csv')

In [3]:
data

             Name  Age  Height  Weight  High BP%
0        John Doe   28     175      70        30
1      Jane Smith   34     160      60        35
2   Alice Johnson   23     168      58        20
3       Bob Brown   45     180      85        60
4      Mary Davis   29     155      50        25
5  Charlie Wilson   31     172      65        30
6     Emily Clark   22     165      54        15
7     James Lewis   37     178      77        55
8  Sarah Robinson   40     162      62        40
9   Michael Young   33     170      68        30

In [4]:
BP = data['Age'].corr(data['High BP%'])

In [5]:
BP

0.9165721121157853