In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('car speed.csv')

In [3]:
data

   car speed  age  experience  risk
0         80  5.5         4.0    50
1         85  3.0         7.0    35
2         70  3.0         5.0    40
3         90  2.0         4.0    70
4         55  4.0         NaN    35
5        100  2.0        10.0    60

In [4]:
data.isnull()

   car speed    age  experience   risk
0      False  False       False  False
1      False  False       False  False
2      False  False       False  False
3      False  False       False  False
4      False  False        True  False
5      False  False       False  False

***Handle the null value with mean or median value***

In [7]:
ex_median = data.experience.median()

In [8]:
ex_median

5.0

In [11]:
data.experience.fillna((ex_median), inplace= True)

In [12]:
data

   car speed  age  experience  risk
0         80  5.5         4.0    50
1         85  3.0         7.0    35
2         70  3.0         5.0    40
3         90  2.0         4.0    70
4         55  4.0         5.0    35
5        100  2.0        10.0    60

In [13]:
# x = ['car speed','age','experince']

In [14]:
# y = ['risk']

In [23]:
from sklearn.linear_model import LinearRegression

car_risk = LinearRegression()

car_risk.fit(data[['car speed','age','experience']],data['risk'])

LinearRegression()

In [24]:
car_risk.predict([[88,4,6]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([51.8642158])

In [27]:
car_risk.coef_

array([ 0.78905872, -2.93589899, -3.47797849])

In [28]:
car_risk.intercept_

15.03851498308363

In [29]:
0.78905872*88 + (-2.93589899)*4 + (-3.47797849)*6 + 15.03851498308363

51.86421544308364

In [26]:
car_risk.score(data[['car speed','age','experience']],data['risk'])

0.7035866438516345