***Row code***

In [5]:
def min_max_scaling(data):
    min_value = min(data)
    max_value = max(data)
    scalled_data = [(x - min_value) / (max_value - min_value) for x in data]
    return scalled_data

In [9]:
values = [0,1,2,5,6]
final_data = min_max_scaling(values)
print("original data:",values)
print("scalled data:",final_data)

original data: [0, 1, 2, 5, 6]
scalled data: [0.0, 0.16666666666666666, 0.3333333333333333, 0.8333333333333334, 1.0]

***Using sklearn***

In [10]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [19]:
data = {'Feature 1':[1,2,3,5,7],
        'Feature 2':[8,5,17,3,12]}

In [20]:
df = pd.DataFrame(data)

In [21]:
df

   Feature 1  Feature 2
0          1          8
1          2          5
2          3         17
3          5          3
4          7         12

In [22]:
scaller = MinMaxScaler()
scalled_data = scaller.fit_transform(df)

In [23]:
scalled_data

array([[0.        , 0.35714286],
       [0.16666667, 0.14285714],
       [0.33333333, 1.        ],
       [0.66666667, 0.        ],
       [1.        , 0.64285714]])

In [26]:
scalled_df = pd.DataFrame(scalled_data, columns=['scalled 1','scalled 2'])

In [27]:
scalled_df

   scalled 1  scalled 2
0   0.000000   0.357143
1   0.166667   0.142857
2   0.333333   1.000000
3   0.666667   0.000000
4   1.000000   0.642857