In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [2]:
data = pd.read_csv('car speed2.csv')

In [3]:
data

   car speed  age  experience  risk car   Review
0         80  5.5           4    50   A  Average
1         85  3.0           7    35   B     Good
2         70  3.0           5    40   C  Average
3         90  2.0           4    70   B      Bad
4         55  4.0           5    35   A     Good
5        100  2.0          10    60   C      Bad

In [4]:
categories = [['Good','Average','Bad']]
categories

[['Good', 'Average', 'Bad']]

In [5]:
encoder = OrdinalEncoder(categories=categories)

In [6]:
encoded_data = encoder.fit_transform(data[['Review']])
encoded_data

array([[1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.]])

In [7]:
data['Encoded_review'] = encoded_data
data

   car speed  age  experience  risk car   Review  Encoded_review
0         80  5.5           4    50   A  Average             1.0
1         85  3.0           7    35   B     Good             0.0
2         70  3.0           5    40   C  Average             1.0
3         90  2.0           4    70   B      Bad             2.0
4         55  4.0           5    35   A     Good             0.0
5        100  2.0          10    60   C      Bad             2.0

In [8]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

# Create the DataFrame with the provided data
data = pd.DataFrame({
    'car': ['A', 'B', 'C', 'B', 'A', 'C'],
    'speed': [80, 85, 70, 90, 55, 100],
    'age': [5.5, 3.0, 3.0, 2.0, 4.0, 2.0],
    'experience': [4, 7, 5, 4, 5, 10],
    'risk': [50, 35, 40, 70, 35, 60],
    'Review': ['Good', 'Bad', 'Average', 'Good', 'Bad', 'Average']
})

# Define unique categories for the 'Review' column
categories = [['Bad', 'Average', 'Good']]

# Initialize the ordinal encoder
encoder = OrdinalEncoder(categories=categories)

# Fit and transform the 'Review' column
encoded_data = encoder.fit_transform(data[['Review']])
encoded_data

array([[2.],
       [0.],
       [1.],
       [2.],
       [0.],
       [1.]])