***Row code***

In [1]:
import pandas as pd

In [2]:
data = {'feature 1 ':[1,20,3,40,5],
        'Feature 2 ':[6,7,18,19,10]}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   feature 1   Feature 2
0           1           6
1          20           7
2           3          18
3          40          19
4           5          10

In [5]:
def Standardization_data(values):
    mean = values.mean()
    std_dv = values.std(ddof = 0) # delta degree of freedom n-1
    final_Standardization = [(x - mean) / (std_dv) for x in values]
    return final_Standardization

In [6]:
Standardization = df.apply(Standardization_data)

In [7]:
print("original data\n")
print(df)
print("Standardization data")
print(Standardization)

original data

   feature 1   Feature 2
0           1           6
1          20           7
2           3          18
3          40          19
4           5          10
Standardization data
   feature 1   Feature 2
0   -0.869803   -1.095445
1    0.421311   -0.912871
2   -0.733896    1.095445
3    1.780378    1.278019
4   -0.597989   -0.365148

***Using Sklear***

In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [9]:
data = {'feature 1 ':[1,20,3,40,5],
        'Feature 2 ':[6,7,18,19,10]}

In [10]:
df = pd.DataFrame(data)

In [11]:
df

   feature 1   Feature 2
0           1           6
1          20           7
2           3          18
3          40          19
4           5          10

In [12]:
Standardization = StandardScaler()
Standardization_value = Standardization.fit_transform(df)

In [13]:
print("Original data:\n")
print(df)
print("Row code data")
print(Standardization)
print("Using Sklear method's data:\n")
print(Standardization_value )

Original data:

   feature 1   Feature 2
0           1           6
1          20           7
2           3          18
3          40          19
4           5          10
Row code data
StandardScaler()
Using Sklear method's data:

[[-0.86980289 -1.09544512]
 [ 0.42131078 -0.91287093]
 [-0.73389619  1.09544512]
 [ 1.7803778   1.2780193 ]
 [-0.59798949 -0.36514837]]